git+https://github.com/tako-discord/python-i18n.git
git+https://github.com/tako-discord/fasttext-langdetect
pick
black
psutil
pillow
pyyaml
millify
asyncpg
requests
py-cpuinfo
tmdbsimple
discord-rpc
python-youtube
discord.py>=2.1.0